@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, input, select, button {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

fieldset {
  border: none;
}

input, select, button {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  appearance: none;
  transition: all 0.2s;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid $gray4;
  border-radius: $borderRadius;
  @include placeholder($gray4);
  &:focus {
    border-color: $blue;
  }
  &:disabled {
    opacity: 1;
    color: $gray4;
    cursor: default;
    border-color: $gray3;
    background-color: $gray1 !important;
  }
  &.is-invalid {
    border-color: $red;
  }
}
button {
  color: $white;
  cursor: pointer;
  border-color: $blue;
  background-color: $blue;
  text-transform: uppercase;
  &:hover {
    background-color: darken($blue, 5%);
  }
  &:active {
    background-color: darken($blue, 10%);
  }
}

select {
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
  background-position: right 20px top 23px, right 15px top 23px;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
}

#app {
  @media (max-width: $mobile-max) {
    width: 100%;
    padding: 30px;
  }
  @media (min-width: $tablet-min) {
    width: $appWidth;
    margin: 50px auto;
  }
}

.formGroup {
  margin-top: 15px;
  &:first-child {
    margin-top: 30px;
  }

  label {
    color: $gray6;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}

.generatedImageWrapper {
  display: flex;
  margin-top: 30px;
  min-height: 250px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $gray1;
  border: 1px solid $gray4;
  border-radius: $borderRadius;

  .generatedImage {
    width: 100%;
    border-radius: 4px;
  }

  .helpText {
    color: $gray5;
    text-align: center;
    border-radius: $borderRadius;
  }
}

.tweetImage {
  padding: 20px;
  background-color: $white;
  border: 1px solid $gray4;
  border-radius: $borderRadius;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  .userDetails {
    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .profileImageWrapper {
      width: 48px;
      float: left;
      height: 48px;

      .profileImage {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
      }
    }

    .nameAndUsernameWrapper {
      float: left;
      margin-left: 12px;
      padding-top: (48px - (19px * 2)) / 2;

      .name {
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
      }

      .username {
        color: #5b7083;
        font-size: 15px;
        line-height: 19px;
      }
    }
  }

  .text {
    font-size: 23px;
    margin-top: 16px;
  }

  .createdAt {
    color: #5b7083;
    margin-top: 16px;
  }
}

.invalid-feedback {
  display: none;
}
