@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, input, select, button {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

fieldset {
  border: none;
}

input, select, button {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  appearance: none;
  transition: all 0.2s;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid $gray4;
  border-radius: $borderRadius;
  @include placeholder($gray4);
  &:focus {
    border-color: $blue;
  }
  &:disabled {
    opacity: 1;
    color: $gray4;
    border-color: $gray3;
    background-color: $gray1;
  }
  &.is-invalid {
    border-color: $red;
  }
}
button {
  color: $white;
  cursor: pointer;
  border-color: $blue;
  background-color: $blue;
  text-transform: uppercase;
  &:hover {
    background-color: darken($blue, 10%);
  }
}

select {
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
  background-position: right 20px top 23px, right 15px top 23px;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
}

#app {
  @media (max-width: $mobile-max) {
    width: 100%;
    padding: 30px;
  }
  @media (min-width: $tablet-min) {
    width: $appWidth;
    margin: 50px auto;
  }
}

.formGroup {
  margin-top: 15px;
  &:first-child {
    margin-top: 30px;
  }

  label {
    color: $gray6;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}

.generatedImageWrapper {
  width: 100%;
  margin-top: 30px;
  position: relative;
  border: 1px solid $gray4;
  border-radius: $borderRadius;

  .helpText {
    color: $gray5;
    min-height: 200px;
    line-height: 20px;
    text-align: center;
    background-color: $gray1;
    border-radius: $borderRadius;
    padding-top: (200px - 20px) / 2;
  }
}

.invalid-feedback {
  display: none;
}
