@import './variables';
@import './mixins';
@import './reactSelect';
@import './../font/icomoon/icomoon.css';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, input, select, button {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

a {
  color: $blue;
  transition: all 0.2s;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  &:hover {
    border-color: $blue;
  }
}

fieldset {
  border: none;
}

input, select, button {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  appearance: none;
  transition: all 0.2s;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid $gray4;
  border-radius: $borderRadius;
  @include placeholder($gray4);
  &:focus {
    border-color: $blue;
  }
  &:disabled {
    opacity: 1;
    color: $gray4;
    cursor: default;
    border-color: $gray3;
    background-color: $gray1 !important;
  }
  &.is-invalid {
    border-color: $red;
  }
}
button {
  cursor: pointer;
  text-transform: uppercase;
  &:disabled, &.disabled {
    cursor: default;
    color: $gray4 !important;
    border-color: $gray4 !important;
    background-color: $gray2 !important;
  }
  &.green {
    color: $white;
    border-color: $green;
    background-color: $green;
    &:hover {
      background-color: darken($green, 5%);
    }
    &:active {
      background-color: darken($green, 10%);
    }
  }
  &.blue {
    color: $white;
    border-color: $blue;
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 5%);
    }
    &:active {
      background-color: darken($blue, 10%);
    }
  }
}

select {
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
  background-position: right 20px top 23px, right 15px top 23px;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
}

#app {
  @media (max-width: $mobile-max) {
    width: 100%;
    padding: 30px;
  }
  @media (min-width: $tablet-min) {
    width: $appWidth;
    margin: 50px auto;
  }

  #appTitle {
    line-height: 44px;
    vertical-align: bottom;

    img {
      height: 44px;
      margin-right: 10px;
      vertical-align: top;
    }
  }

  #appDescription {
    color: $gray6;
    margin-top: 6px;
    line-height: 26px;
  }

  .formGroup {
    margin-top: 15px;
    &:first-child {
      margin-top: 30px;
    }

    label {
      color: $gray6;
      display: block;
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }

  footer {
    color: $gray6;
    line-height: 26px;
    margin-top: 100px;

    .twitter, .github {
      vertical-align: bottom;

      span {
        margin-left: 5px;
        vertical-align: bottom;
      }
    }

    .twitter {
      color: #1da1f2;
      &:hover {
        border-color: #1da1f2;
      }
    }

    .github {
      color: #23292f;
      &:hover {
        border-color: #23292f;
      }
    }

    .mt {
      margin-top: 20px;
    }
  }
}

.generatedImageWrapper {
  $zoom: 2;
  $width: 1440px;
  $height: 810px;
  $padding: 20px;
  $borderWidth: 1px;

  width: $width;
  height: $height;
  position: relative;
  border-radius: $borderRadius;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  @media (max-width: $mobile-max) {
    zoom: 0.2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px * $zoom;
  }
  @media (min-width: $tablet-min) {
    zoom: 1 / $zoom;
    margin-top: 30px * $zoom;
    margin-left: -($width - ($appWidth * $zoom)) / 2;
  }

  .generatedImage {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid $gray4;
    background-color: $white;
    border-radius: $borderRadius;

    .tweetImage {
      $tweetSecondColor: #5b7083;
      zoom: 0.9;
      top: 100px;
      z-index: 3;
      left: 170px;
      width: 600px;
      padding: 40px;
      user-select: none;
      position: absolute;
      background-color: $white;
      border: 1px solid $gray4;
      border-radius: $borderRadius;

      .twitterLogo {
        top: 40px;
        right: 40px;
        color: #1da1f2;
        font-size: 26px;
        position: absolute;
      }

      .userDetails {
        &:after {
          content: '';
          clear: both;
          display: table;
        }

        .profileImageWrapper {
          width: 48px;
          float: left;
          height: 48px;

          .profileImage {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
          }
        }

        .nameAndUsernameWrapper {
          float: left;
          margin-left: 12px;
          padding-top: (48px - (19px * 2)) / 2;

          .name {
            font-size: 15px;
            font-weight: 700;
            line-height: 19px;
          }

          .username {
            font-size: 15px;
            line-height: 19px;
            color: $tweetSecondColor;
          }
        }
      }

      .text {
        font-size: 23px;
        margin-top: 16px;
      }

      .createdAt {
        margin-top: 16px;
        color: $tweetSecondColor;
      }

      .metrics {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #ccd6de;
        &:after {
          content: '';
          clear: both;
          display: table;
        }

        .metric {
          float: left;
          margin-left: 26px;
          &:first-child {
            margin-left: 0;
          }
          &:after {
            content: '';
            clear: both;
            display: table;
          }

          .metricIcon {
            float: left;
            height: 20px;
            fill: $tweetSecondColor;
          }

          .metricCount {
            float: left;
            font-size: 15px;
            margin-left: 10px;
            line-height: 20px;
            color: $tweetSecondColor;
          }
        }
      }
    }

    .lineChart {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      position: absolute;
      @media (max-width: $mobile-max) {
        padding: 10px;
      }
      @media (min-width: $tablet-min) {
        padding: $padding;
      }
    }

    .lineToChart {
      z-index: 2;
      height: 4px;
      position: absolute;
      transform-origin: left;
      background-color: $red;
    }

    .watermark {
      z-index: 2;
      right: 22px;
      bottom: 62px;
      color: $gray6;
      font-size: 14px;
      zoom: 1 * $zoom;
      user-select: none;
      text-align: right;
      position: absolute;
    }
  }

  .helpText {
    $lineHeight: 20px;
    width: 100%;
    height: 100%;
    color: $gray5;
    zoom: 1 * $zoom;
    text-align: center;
    line-height: $lineHeight;
    background-color: $gray1;
    border: 1px solid $gray4;
    border-radius: $borderRadius;
    padding-top: (($height / $zoom) - ($lineHeight + ($borderWidth * 2))) / 2;
  }
}

.downloadButton {
  margin-top: 30px;
}

.invalid-feedback {
  color: $red;
  font-size: 14px;
  margin-top: 5px;
}
