$appWidth: 550px;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$computer-min: 992px;
$computer-max: 1199px;
$largescreen-min: 1200px;
$largescreen-max: 1919px;
$widescreen-min: 1920px;

$white: #ffffff;
$gray1: #f8f9fa;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #6c757d;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
$black: #000000;

$red: #d63030;
$orange: #e27055;
$green: #00b894;
$blue: #0b84e3;
$purple: #6b5ce7;
