$appWidth: 550px;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$computer-min: 992px;
$computer-max: 1199px;
$largescreen-min: 1200px;
$largescreen-max: 1919px;
$widescreen-min: 1920px;
